:root{
	--wd-top-bar-h: 41px;
	--wd-top-bar-sm-h: 40px;
	--wd-top-bar-sticky-h: .00001px;
	--wd-top-bar-brd-w: 1px;

	--wd-header-general-h: 105px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: .00001px;
	--wd-header-general-brd-w: .00001px;

	--wd-header-bottom-h: 50px;
	--wd-header-bottom-sm-h: .00001px;
	--wd-header-bottom-sticky-h: 50px;
	--wd-header-bottom-brd-w: 1px;

	--wd-header-clone-h: .00001px;

	--wd-header-brd-w: calc(var(--wd-top-bar-brd-w) + var(--wd-header-general-brd-w) + var(--wd-header-bottom-brd-w));
	--wd-header-h: calc(var(--wd-top-bar-h) + var(--wd-header-general-h) + var(--wd-header-bottom-h) + var(--wd-header-brd-w));
	--wd-header-sticky-h: calc(var(--wd-top-bar-sticky-h) + var(--wd-header-general-sticky-h) + var(--wd-header-bottom-sticky-h) + var(--wd-header-clone-h) + var(--wd-header-brd-w));
	--wd-header-sm-h: calc(var(--wd-top-bar-sm-h) + var(--wd-header-general-sm-h) + var(--wd-header-bottom-sm-h) + var(--wd-header-brd-w));
}

.whb-top-bar .wd-dropdown {
	margin-top: -0.5px;
}

.whb-top-bar .wd-dropdown:after {
	height: 10.5px;
}



:root:has(.whb-top-bar.whb-border-boxed) {
	--wd-top-bar-brd-w: .00001px;
}

@media (max-width: 1024px) {
:root:has(.whb-top-bar.whb-hidden-mobile) {
	--wd-top-bar-brd-w: .00001px;
}
}


:root:has(.whb-header-bottom.whb-border-boxed) {
	--wd-header-bottom-brd-w: .00001px;
}

@media (max-width: 1024px) {
:root:has(.whb-header-bottom.whb-hidden-mobile) {
	--wd-header-bottom-brd-w: .00001px;
}
}

.whb-header-bottom .wd-dropdown {
	margin-top: 4px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 15px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 4px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu):after {
	height: 15px;
}


		
.whb-top-bar {
	background-color: rgba(247, 247, 247, 1);border-color: rgba(129, 129, 120, 0.2);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-9x1ytaxq7aphtb3npidp form.searchform {
	--wd-form-height: 46px;
}
.whb-c6hm82wm91xek4h060hp.info-box-wrapper div.wd-info-box {
	--ib-icon-sp: 10px;
}
.whb-general-header {
	background-color: rgba(247, 247, 247, 1);border-bottom-width: 0px;border-bottom-style: solid;
}
.whb-lavvqsh1emm9r0psr2g4 .menu-opener { border-bottom-width: 00px;border-bottom-style: solid;border-top-width: 00px;border-top-style: solid;border-left-width: 00px;border-left-style: solid;border-right-width: 00px;border-right-style: solid; }
.whb-header-bottom {
	border-color: rgba(230, 230, 230, 1);border-bottom-width: 1px;border-bottom-style: solid;
}
